= form_for @log do |f|
  %fieldset
    %legend Basic data
    = render "shared/error_messages"
    .form-row
      .label-col
        %label{ :for => :nr } Log #
      .field-col
        = f.text_field :nr
    .form-row
      .label-col
        %label{ :for => :date } Date
      .field-col
        = f.text_field :date
    .form-row
      .label-col
        %label{ :for => :dive_site } Dive Site
      .field-col
        = f.text_field :dive_site
    .form-row
      .label-col
        %label{ :for => :location } Location
      .field-col
        = f.text_field :location
    .form-row
      .label-col
        %label{ :for => :depth } Depth
      .field-col
        = f.text_field :depth
    .form-row
      .label-col
        %label{ :for => :bottom_time } Bottom Time
      .field-col
        = f.text_field :bottom_time
    .form-row
      .label-col
        %label{ :for => :notes } Notes
      .field-col
        = f.text_area :notes
    .form-row
      .label-col
        %label{ :for => :buddy } Buddy
      .field-col
        = f.text_field :buddy
    .action
      = f.submit "Save log"