%h3 All logs

%table
  %thead
    %tr
      %th.number #
      %th Dive Site
      %th Date
      %th.number Depth
      %th.number Time
      %th Buddy
  %tbody
    - @logs.each do |log|
      %tr
        %td.number= link_to log.nr, log
        %td= link_to log.dive_site, log
        %td= link_to log.date, log
        %td.number= link_to log.depth, log
        %td.number= link_to log.bottom_time, log
        %td= link_to log.buddy, log