%section.form
  .actions
    = link_to "Edit", edit_log_path(@log), :class => "flat-btn"
    %br/
    /= link_to"Delete", @log, :method => :delete, :confirm => "Are you sure want to delete this log?", :class => "awesome"
  %h1
    <span class="weak">#</span>
    = @log.nr
  .date= @log.date
  %h2{:title => "Dive site"}
    = @log.dive_site
  %p= @log.location
  %p
    = @log.notes
  .dive-profile
    .si-row
      .si
      .gap
      .group
    .depth-row
      .depth= @log.depth.to_s + " " + @unit_depth[:short]
      .sink
      .deco
    .bt-row
      .gap2
      .bt= @log.bottom_time.to_s + " " + @unit_time[:short]

%section.form-extras
  .map-view
    %img{:src => "/images/Safari.png", :width => "405", :height => "220"}
  .thumbs
    .thumb
    .thumb
    .thumb-
    .thumb
    .thumb
    .thumb
    .thumb
    .thumb