!!!
%html
  %head
    %title= @title || "Dive Log App"
    = stylesheet_link_tag "compiled/screen"
    = csrf_meta_tag
  %body
    %header
      %nav
        = link_to "View logs", logs_path
        |
        = link_to "Add log", new_log_path
    .content
      - flash.each do |key, value|
        .notice
          = value
      = yield
    - if Rails.env.development?
      / %section.debug %h3 Debug info = debug(params)

