!!!
%html
  %head
    %title= @title || "Dive Log App"
    = stylesheet_link_tag "compiled/screen"
    = csrf_meta_tag
  %body
    %header
      Cool beans
    %section.content
      .notice
        = notice
        = alert
      = yield
    - if Rails.env.development?
      %section.debug
        %h3 Debug info
        = debug(params)

